.Description{
    background-image: url(../public/spider3.jpg);
    background-size: cover;
    background-position: center;
}

.Header{
    width: 100%;
    margin: -20px auto 20px
}

.Header h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
    margin: 20px 0;
}

.Img{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 30px auto;
}

.Img img{
    width: 500px;
    height: 400px;
}

.Img p{
    color: white;
    width: 50%;
    line-height: 1.8;
    font-size: 20px;
}

.DetailsFath{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.Principal{
    width: 25%;
    color: white;
    text-align: center;
}

.Principal h1{
    font-size: 30px;
}

.Principal a:hover{
    text-decoration: underline;
    color: white;

}

/* .DetailsFath h1{
    text-align: center;
} */ 

/* 
.Nav li{
    list-style: none;

}

.Nav a{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    line-height: 1.8;
    font-size: 20px;
} */

