.Main{
    background-image: url(../public/spider3.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.FatherImg{
    display: flex;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    color: white;
    font-size: 20px;
}

.Main img{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 650px;
    height: 855px;
}

.Main h1{
    margin: 0 auto 20px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.Main p{
    width:600px;
    margin: 20px auto 0;
    color:white;
    text-align: center;
}