.DetailsFath{
    background-image: url(../public/spider3.jpg);
    background-size: cover;
    background-position: center;
}

.Details{
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
}

.DetailsHero h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 300px;
    color: white;
}

.DetailsHero img{
    width: 300px;
}