.Details{
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
}

.DetailsHero h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 300px;
}

.DetailsHero img{
    width: 300px;
}